
div {
display: flex;
flex-direction: column;
max-width: 1200px;
width: 960px;
height: 960px;
background-color: aliceblue;



}



.sub1 {
  display: flex;
  flex-direction: row;
  border: solid 5px orange;
  background-color: white;
  



}

.square {
 border: solid 5px orange;
 background-color: white;
 

} 